html, body {
	color: white;
	background-color: #2c3e50;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/* background-color: #2c3e50; */
}


nav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  
  
  .hobby {

    margin-right: 10;
  }
  .container {
	font-family: arial;
	font-size: 24px;
	margin: 25px;
	width: 1200px;
	height: 400px;
	outline: dashed 1px black;
	/* Setup */
	position: relative;
  }
  
  .child {
	width: 600px;
	height: 150px;
	background-color: rgb(83, 79, 79);
	/* Center vertically and horizontally */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .container{
	  background-image: url(/img/natuur.jpg);
	  border:#1abc9c;

  }
  .chef{
	  text-align:center;
	
  }

  .about-me {
	position: relative;
	margin-top: 5rem;
	height: 20rem;
  }

  .text{

	font-family: arial;
	font-size: 24px;
	margin: 25px;
	width: 400px;
	height: 100px;
	font-family:papyrus;
	
	
  }

  /* vanaf hier voor de container fotos */

  .containerrr{

	background-color: #ffffff;
	width: 500px;
	height: 350px;
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 15px 30 px(0,0,0,0.3);

  }
  .image-container{
    position: relative;
}
img{
    position: relative;
    width: 460px;
    height: 280px;
    display: none;
}

.active{
    display: block;
}
.dot-container{
    width: 250px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button{
    outline: none;
    cursor: pointer;
}
.dot-container button{
    height: 15px;
    width: 50px;
    border-radius: 10%;
    border: 3px solid #076bb8;
    background-color: transparent;
}
.dot-container button:nth-child(1){
    background-color: #076bb8;
}
#prev,#next{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #076bb8;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
}

#prev{
    left: 5px;
}

#next{
    right: 5px;
}
.link{
	width: 500px;
  margin-top: 10px;
  padding: 25px 25px 25px 25px;
  font-size: 200%;
  font-family: papyrus;
  background-color: #3498db;
}
  /* .container-sm{ */
	/* padding-left: 15px ;
	padding-right: 15px;
	width: 400px;
	height: 400px;
	border: 5px solid black;
	margin: 20px auto; */

  /* } */
  /* .carouselExampleIndicators{ */
	/* padding-left: 15px ;
	padding-right: 15px;
	width: 400px;
	height: 400px;
	border: 5px solid black;
	margin: 20px auto; */

  
	